# 源
registry=https://registry.npm.taobao.org/
# node 镜像
disturl=https://npm.taobao.org/mirrors/node/
# 个别包的镜像源问题
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
sharp_binary_host=https://npm.taobao.org/mirrors/sharp/
sharp_libvips_binary_host=https://npm.taobao.org/mirrors/sharp-libvips/
electron_mirror=https://npm.taobao.org/mirrors/electron/
puppeteer_download_host=https://npm.taobao.org/mirrors/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
sentrycli_cdnurl=https://npm.taobao.org/mirrors/sentry-cli/
sqlite3_binary_site=https://npm.taobao.org/mirrors/sqlite3/
python_mirror=https://npm.taobao.org/mirrors/python/
